@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap");

#homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px;
}
#submitForm {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
#upload {
  display: none;
}
#uploadLabel {
  display: flex;
  align-items: center;
  position: absolute;
  padding: 0.12em;
  font-size: 20vw;
  border-radius: 50%;
  transition: 0.5s;
  color: #262626;
  border: solid 0.5vw #262626;
  cursor: pointer;
}
#uploadLabel:hover {
  border: solid 1vw #b2ddca;
  padding: 0.25em;
  color: #b2ddca;
}
#uploadLabel > #upload:valid ~ .homepage__submitbutton {
  border: solid 2px #b2ddca;
}

.homepage__container {
  display: flex;
  flex-direction: column;
}

.homepage__container > h1 {
  z-index: 1;
  align-items: center;
  color: white;
  margin-left: 44%;
}
.homepage__submitbutton {
  position: absolute;
  top: 10%;
  background-color: transparent;
  border: solid 3px #262626;
  font-family: "Oswald", sans-serif;
  font-size: 2vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}
.footNote {
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  color: #416eceb3;
}
