@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap");

#photosPage {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}
.photoContainer {
  margin: 2%;
  width: 20vw;
  height: 20vw;
  display: flex;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
}
.photo {
  min-height: 100%;
  min-width: 0;
  object-fit: fill;
  object-position: center;
  transition: 0.15s;
  z-index: 1;
}
.photoContainer:hover > .photo {
  transform: scale(1.05);
  filter: grayscale(45) blur(2.5px);
}
.desc {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: x-large;
  text-align: center;
  align-self: center;
  position: absolute;
  display: block;
  color: white;
  opacity: 0;
  transition: 0.15s;
  z-index: 2;
  width: 20%;
}
.photoContainer:hover > .desc {
  opacity: 1;
}
.popupContent {
  margin: 0;
  padding: 10px;
  max-width: 200px;
}
.popupImage {
  width: 100%;
}
