@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap");

#nav {
  position: fixed;
  top: 0;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262626;
  z-index: 100;
  font-size: 1.5em;
}
#nav > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}
#navLinks > a > * {
  height: 80%;
  color: #ededed;
}

#nav > h1 {
  justify-self: start;
  color: #416eceb3;
  font-family: "Oswald", sans-serif;
}

#navLinks {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
